# Dependências do Node e do pnpm
node_modules/
.pnpm-store/
.pnpm-debug.log

# Caches e arquivos gerados pelo Next.js
.next/
out/
build/

# Caches e arquivos gerados pelo Expo (Mobile)
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs do sistema e debugs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Arquivos de ambiente e chaves locais (Supabase/APIs)
.env
.env.local
.env.*.local

# Arquivo de configuração de zona do sistema operacional
.DS_Store
